<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
 <h2 style = "text-align: center;">User Login</h2>
       <form action = "/login" method = post>
          <fieldset>
             <legend>填写项</legend>
              {{ form.hidden_tag() }}
             <div style = font-size:20px;>
                {{ form.username.label }}<br>
                {{ form.username }}
                <br>
                {{ form.password.label }}<br>
                {{ form.password }}
                <br>
                {{ form.submit }}
             </div>
          </fieldset>
       </form>
</body>
</html>