
* {
    padding: 0;
    margin:0;
}
ul {
    list-style: none;
}
.w {
    width: 1080px;
    height: 810px;
    background-image: url(../images/LoginBackground.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin:0 auto;
}
/* 头部 */
.header {
    width: 100%;
    height: 190px;
}

/* 用户登录框 */
.main {
    width: 829px;
    height: 464px;
    margin:0 auto;
}
.main .window{
    width: 829px;
    height: 464px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(82, 82, 82);
}

.main .window .loginright{
    float: right;
    width: 480px;
    height: 464px;
}
/* 表单 */
.main .window .loginright ul {
    float: right;
    width: 480px;
    height: 320px;
}

.main .window .loginright ul li {
    display: flex;
    align-items: center; 
    justify-content: center;
}
.main .window .loginright ul input {
    height: 34px;
    background-color: rgba(255,255,255,0);
    outline: none;
    margin-bottom: 48px;
    color: black ;
    padding-left: 12px;
    letter-spacing: 2px;
}
/* 按钮 */
.main .window .loginright .btn {
    /* position: absolute; */
    width: 203px;
    height: 33px;
    margin:320px auto;
}
.main .window .loginright .btn .ok {
    /* position: absolute; */
    width: 203px;
    height: 33px;
    margin-top: 10px;
}
.main .window .loginright .btn .ok:hover {
    background: transparent url(../images/02登录页/确认-鼠标划过.png)no-repeat scroll top;
}
.main .btn button {
    border:0;
    width: 203px;
    height: 33px;
    background-color: #F2F2F2;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px rgba(82, 82, 82, 0.333);
}
.main .btn button:hover {
    background-color: #12E18A;
}
.main .window .backimg {
    width:348px;
    height: 464px;
    background-image: url(../images/LoginPicture.jpg);
    background-size:100% 100%;
    border-radius: 10px 0 0 10px;
}
.main .window .backimg .grey{
    width:348px;
    height: 464px;
    background:rgba(104, 179, 148, 0.518);
}
.main .window .backimg .grey .lefttop{
    width:348px;
    height: 100px;
    padding-top: 50px;
}
.main .window .backimg .grey .lefttop .imglogo{
    width: 65px;
    height: 65px;
    background-image: url(../images/AGV.png);
    background-size:100% 100%;
    margin: auto;
}
.backimg .grey .textbox{
    width:348px;
    height: 100px;
    margin: auto;
}
.backimg .grey .textbox h1{
    text-align:center;
    color: white;   
}
.backimg .grey .textbox p{
    text-align:center;
    color: white;   
}
.main .window .backimg .grey .jump{
    width:348px;
    height: 200px;   
    margin-top: 70px;
    text-align:center;
}
/* .main .btn .cancel {
    position: relative;
    width: 90px;
    height: 70px;
    margin-top: 40px;
    background: transparent url(../images/02登录页/取消-正常状态.png) no-repeat scroll top;
}
.main .btn .cancel:hover {
    background: transparent url(../images/02登录页/取消-鼠标划过.png) no-repeat scroll top;
} */
/* 清除浮动 */
.clear {
    clear: both;
}
