<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Order</title>

</head>
<body>
   <form action = "/confirm_order" method = post>
          <fieldset>
             <legend>填写项</legend>
              {{ form.hidden_tag() }}
             <div style = font-size:20px;>
                 {{ form.merchandise_name.label }}<br>
                {{ form.merchandise_name }}
                 <br>
                {{ form.submit }}
             </div>
          </fieldset>
       </form></body>
</html>