<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
 <h2 style = "text-align: center;">User Registration</h2>
       {% for message in form.username.errors %}
          <div>{{ message }}</div>
       {% endfor %}
       <form action = "/signup" method = post>
          <fieldset>
             <legend>填写项</legend>
             {{ form.hidden_tag() }}
             <div style = font-size:20px;>
                {{ form.username.label }}<br>
                {{ form.username }}
                <br>
                {{ form.password.label }}<br>
                {{ form.password }}
                <br>
                {{ form.confirm.label }}<br>
                {{ form.confirm }}
                <br>
                {{ form.position.label }}<br>
                {{ form.position }}
                <br>
                {{ form.submit }}
             </div>
          </fieldset>
       </form>
</body>
</html>